body {
  font-family: Verdana, sans-serif;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Lucida Sans", sans-serif;
  text-align: center;
  
  padding: 20px;
}

p {
  text-align: center;
}

nav {
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px;
}
        